{% extends "static/base_dash.html" %}
{% load staticfiles %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    </head>
    <body>
    <div class="row">
            <div class="col-xs-15 col-md-20"><img src="{% static 'daily1.jpg' %}" class="img-responsive" alt="Responsive image" width="100%" height="100%"></div>
        </div>
</body>
{% endblock body %}
</html>