{% extends "static/base_dash.html" %}
{% load staticfiles %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    </head>
    <body>
    <div class="col-xs-13 col-sm-8 col-md-9 col-md-push-3 ">
        <div style=" font-size: 30px;color: #ff090c;text-shadow: 2px 2px 2px #000;">Pooja Details</div>

        </div>
    <div class="row">
            <div class="col-xs-13 col-sm-8 col-md-13 col-md-9 col-md-push-3 "><img src="{% static 'pooja1.jpg' %}" width="99%" height="100%" style="padding-top: 30px"></div>
        </div>
</body>
{% endblock body %}
</html>
