{% extends "static/base.html"%}
{% load staticfiles %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
<body>
    <meta charset="UTF-8">
    <title>Title</title>
   <h3 class=" col-md-offset-2 " align="center">Page under construction</h3> <br>
    <div class="row" >
  <div class="col-xs-6 col-md-3 " >
    <a href="#" class="thumbnail">
      <img src="{%  static 'sreekrishna.jpg' %}" alt="...">
    </a>
  </div>
  <h3></br></br></br>ഹിന്ദുമതവിശ്വാസപ്രകാരം മഹാവിഷ്ണുവിന്റെ ദശാവതാരങ്ങളിൽ ഒന്നാണ് കൃഷ്ണൻ (ദേവനാഗരി: कृष्ण) . </br>കൃഷ്ണനെ ചക്രധാരിയായിട്ടാണ് കണക്കാക്കുന്നത്. മഹാഭാരതത്തിലെ ഒരു പ്രധാന കഥാപാത്രം കൂടിയാണ് കൃഷ്ണൻ. </br>എന്നാൽ കൃഷ്ണ-വസുദേവ് എന്ന പശ്ചിമേന്ത്യൻ വീര-ആത്മീയ നായകനെ ഹിന്ദുമതം ആവാഹിച്ച് </br>വിഷ്ണുവിന്റെ അവതാരമാക്കിയതാണ്‌ എന്നുമാണ്‌ ചരിത്രകാരന്മാർ[ആര്?] പറയുന്നത്</h3>
   </div>
    <div class="row">
  <div class="col-xs-6 col-md-3 col-md-offset-9">
    <a href="#" class="thumbnail">
      <img src="{%  static 'ganesh.jpg' %}" alt="...">
    </a>
  </div>
  ...
</div>
    <div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="{%  static 'devi.jpg' %}" alt="...">
    </a>
  </div>
  ...
</div>
    <div class="row">
  <div class="col-xs-6 col-md-3 col-md-offset-9">
    <a href="#" class="thumbnail">
      <img src="{%  static 'nagar.jpg' %}" alt="...">
    </a>
  </div>
  ...
</div>
</head>

</body>
{% endblock body %}
</html>